
block content 
main

  .container
    .banner
      .logo-banner
        a(href='https://www.animecrowd.it/' target='_blank')
          img(src='Images/logo-ac2.png')
          p Guarda Anime in Streaming Sub ita/ITA Su Animecrowd.it
      .link
        a(href='https://www.animecrowd.it/' target='_blank')
          button VISITA IL SITO
    .name-container
      h2
        span.material-symbols-outlined
          | format_list_bulleted
        |  ULTIMI CAPITOLI AGGIUNTI
      hr
    .item
      a(href='/Manhua/Magic-emperor-read/magic-emperor')
        img(src='Images/magic-emperor.png')
      .info
        a(href='/Manhua/Magic-emperor-read/magic-emperor')
          h3 Magic Emperor
        p Tipo: Manhua
        p Stato: In Corso
        br
        h4 Ultimi Capitoli
        .chapters
          a(href='/Manhua/Magic-emperor-read/Capitoli/Capitolo-2')
            span
              | Capitolo 2 
              span.old 06/09/22
          a(href='/Manhua/Magic-emperor-read/Capitoli/Capitolo-1')
            span
              | Capitolo 1 
              span.old 06/09/22
          a(href='/Manhua/Magic-emperor-read/Capitoli/Capitolo-0')
            span
              | Capitolo 0 
              span.old 06/09/22
    .item
      a(href='/Manhua/The-Beginning-After-The-End-read/tbate')
        img(src='Images/tbate1.jpg')
      .info
        a(href='/Manhua/The-Beginning-After-The-End-read/tbate')
          h3 The Beginning After The End
        p Tipo: Manhua
        p Stato: In Corso
        br
        h4 Ultimi Capitoli
        a(href='/Manhua/The-Beginning-After-The-End-read/Capitoli/Capitolo-1')
          span
            | Capitolo 1 
            span.new NUOVO
        br
    .item
      a(href='/Manga/Tensura-read/tensura')
        img(src='Images/Tensura1.png')
      .info
        a(href='/Manga/Tensura-read/tensura')
          h3 Tensei Shitara Slime Datta Ken
        p Tipo: Manga
        p Stato: In Corso
        br
        h4 Ultimi Capitoli
        a(href='/Manga/Tensura-read/Capitoli/Capitolo--3')
          span
            | Capitolo 3 
            span.new NUOVO
        br
        a(href='/Manga/Tensura-read/Capitoli/Capitolo--2')
          span
            | Capitolo 2 
            span.new NUOVO
        br
        a(href='/Manga/Tensura-read/Capitoli/Capitolo--1')
          span
            | Capitolo 1 
            span.old 18/08/2022
        br
    .item
      a(href='/manhwa/Solo-Leveling-read/solo-leveling')
        img(src='images/Solo-leveling.png')
      .info
        a(href='/manhwa/Solo-Leveling-read/solo-leveling')
          h3 Solo leveling
        p Tipo: Manhwa
        p Stato: In Corso
        br
        h4 Ultimi Capitoli
        a(href='/manhwa/Solo-Leveling-read/capitoli/Capitolo-1')
          span
            | Capitolo 1 
            span.new NUOVO
        br
        a(href='/manhwa/Solo-Leveling-read/capitoli/Capitolo-2')
          span
            | Capitolo 0 
            span.new NUOVO
    .item
      img(src='Images/solo-max-level-newbie.png')
      .info
        a(href='#')
          h3 Max level Newbie
        p Tipo: Manhwa
        p(style='color: orange;') Stato: In Attesa
        br
        h4(style='color: #1abc;') Ultimi Capitoli
        a(href='#')
          p In arrivo
    .item
      img(src='Images/one-piece.png')
      .info
        a(href='#')
          h3 One Piece
        p Tipo: Manga
        p(style='color: orange;') Stato: In Attesa
        br
        h4(style='color: #1abc;') Ultimi Capitoli
        a(href='#')
          p In arrivo
    .item
      img(src='Images/return-disaster-hero.jpg')
      .info
        a(href='#')
          h3 Return Of The Disaster Class-Hero
        p Tipo: Manhwa
        p(style='color: orange;') Stato: In Attesa
        br
        h4(style='color: #1abc;') Ultimi Capitoli
        a(href='#')
          p In arrivo
    .item
      img(src='Images/mercenary-enrollment.jpg')
      .info
        a(href='#')
          h3 Mercenary Enrollment
        p Tipo: Manhwa
        p(style='color: orange;') Stato: In Attesa
        br
        h4(style='color: #1abc;') Ultimi Capitoli
        a(href='#')
          p In arrivo
    .item
      img(src='Images/mha.jpg')
      .info
        a(href='#')
          h3 My Hero Academia
        p Tipo: Manga
        p(style='color: orange;') Stato: In Attesa
        br
        h4(style='color: #1abc;') Ultimi Capitoli
        a(href='#')
          p In arrivo
    .item
      img(src='Images/player.jpg')
      .info
        a(href='#')
          h3 Player
        p Tipo: Manhwa
        p(style='color: orange;') Stato: In Attesa
        br
        h4(style='color: #1abc;') Ultimi Capitoli
        a(href='#')
          p In arrivo
  .side-bars.mr
    .side-bar
      .name-container
        h2
          span.material-symbols-outlined
            | account_circle
          |  ACCOUNT
        hr
      .content-account
        p
          | Hai gia un account? 
          a(href='#') Accedi!
        br
        p
          | Oppure 
          a(href='#') Registrati!
    .side-bar.mr.nodb
      .name-container
        h2
          span.material-symbols-outlined
            | grade
          |  TOP DEL MESE
        hr
      .content-side
        .item-side
          .number
            span.material-symbols-outlined(style='color: rgb(236, 170, 46);')
              | looks_one
          .namebox
            a(href='/manhwa/Solo-Leveling-read/solo-leveling')
              p Solo leveling
              span.material-symbols-outlined.pointer
                | import_contacts
        .item-side
          .number
            span.material-symbols-outlined(style='color: rgb(236, 170, 46);')
              | looks_two
          .namebox
            a(href='#')
              p Tensei shitara slime datta ken
              span.material-symbols-outlined.pointer
                | import_contacts
        .item-side
          .number
            span.material-symbols-outlined(style='color: rgb(236, 170, 46);')
              | looks_3
          .namebox
            a(href='#')
              p The Beggining After The End
              span.material-symbols-outlined.pointer
                | import_contacts
        .item-side
          .number
            span.material-symbols-outlined
              | looks_4
          .namebox
            a(href='#')
              p Player
              span.material-symbols-outlined.pointer
                | import_contacts
        .item-side
          .number
            span.material-symbols-outlined
              | looks_5
          .namebox
            a(href='/manhwa/Magic-Emperor-read/magic-emperor')
              p Magic Emperor
              span.material-symbols-outlined.pointer
                | import_contacts              